# atom
atom/atom.symlink/packages/
atom/atom.symlink/storage/
atom/atom.symlink/.atom
atom/atom.symlink/compile-cache

# vim
vim/vim.symlink/bundle/
*.spl
.netrwhist

# Python
*.pyc

# Node-gyp
.node-gyp

# Lein
self-installs
