bundle/cache
config/vifm/vifminfo
config/vifm/vifminfo.json
config/vifm/vifmimgpdffile
config/vifm/vifmimgpdfpage

# ignore sumenko lua generated artifact
.luarc.json

# ignore tmuxinator files since they are workstation specific
config/tmuxinator/*.yml

# ignore personal Brewfile to avoid conflicts with upstream
Brewfile.local
Brewfile.local.lock.json
