/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

.editor {

}

.editor .cursor {

}

.editor .markup.underline.link.hyperlink {
  color: rgba(240,210,120,0.75);
  text-decoration: underline;
}

.markup.heading {
  color: #FFF;
  font-weight: bolder;
}
